<script>
  function unEnroll(moduleId) {
    return fetch(`/api/module/${moduleId}/unenroll`, {
      redirect: 'follow',
      cache: 'no-cache',
      mode: 'cors',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
      },
    }).then(res => res.status >= 400
        ? res.json().then(json => Promise.reject(json))
        : Promise.resolve(res.json()),
    ).then(res => {
      const me = document.getElementById('module-btn-enroll');
      me.classList.remove('is-danger');
      me.classList.add('is-light');
      me.innerHTML = `
          <i class="fas fa-hourglass-half" style="margin-right: 7px;"></i>
          Wait
      `;
      me.onclick = undefined;
      setTimeout(function() {
        me.classList.remove('is-light');
        me.classList.add('is-primary');
        me.innerHTML = `
            <i class="fas fa-check" style="margin-right: 7px;"></i>
            Enroll
        `;
        me.onclick = () => enroll(moduleId);
      }, 1000);
    }).catch(err => alert(err.msg || err.message || 'failed to unenroll'));
  }

  function enroll(moduleId) {
    return fetch(`/api/module/${moduleId}/enroll`, {
      redirect: 'follow',
      cache: 'no-cache',
      mode: 'cors',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
      },
    }).then(response => response.status >= 400
        ? response.json().then(json => Promise.reject(json))
        : Promise.resolve(response.json()),
    ).then(res => {
      const me = document.getElementById('module-btn-enroll');
      me.classList.remove('is-primary');
      me.classList.add('is-light');
      me.innerHTML = `
          <i class="fas fa-hourglass-half" style="margin-right: 7px;"></i>
          wait
      `;
      me.onclick = undefined;
      setTimeout(function() {
        me.classList.remove('is-light');
        me.classList.add('is-danger');
        me.innerHTML = `
          <i class="fas fa-times" style="margin-right: 7px;"></i>
          Unenroll
        `;
        me.onclick = () => unEnroll(moduleId);
      }, 1000);
    }).catch(err => alert(err.msg || err.message || 'failed to enroll'));
  }
</script>
<section class="hero" style="margin-top: 20px;">
  <div style="margin: 0 12vw; padding-bottom: 15px;">
    {{#if module.isMine}}
      <h1 class="title" style="margin-bottom: 10px;">Module Name</h1>
      <div id="module-name" contenteditable="true" style="max-width: 300px;">
        {{module.name}}
      </div>
      <h3 class="subtitle" style="margin: 25px 0 0 0;">Topic</h3>
      <div class="dropdown" style="border: 1px #bdbdbd dashed;" onmouseover="this.classList.add('is-active')"
           onmouseout="this.classList.remove('is-active')">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span id="module-topic" style="min-width: 150px;">{{module.topic}}</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {{#each module.topics}}
              <a class="dropdown-item"
                 onclick="document.getElementById('module-topic').innerText = this.innerText.trim()">
                {{this}}
              </a>
            {{/each}}
            <script>
              // remove topics that are empty strings or just whitespaces
              for (const el of [
                ...document.querySelectorAll('.dropdown-menu .dropdown-content a.dropdown-item')].filter(
                  el => el.innerText.trim() === '')) {
                el.remove();
              }
            </script>
            <hr class="dropdown-divider">
            <span class="dropdown-item" style="font-weight: bold;">
              Other
            </span>
            <a class="dropdown-item" id="module-topic-other" contenteditable="true"
               style="margin: 5px 10px; max-width: 90%;">
              {{module.topic}}
            </a>
            <script>
              document.querySelector('#module-topic-other').onblur = function() {
                if (this.innerText.trim() !== '') {
                  document.querySelector('#module-topic').innerText = this.innerText.trim();
                }
              };
            </script>
          </div>
        </div>
      </div>
    {{else}}
      <h1 id="module-h-name" class="title">{{module.name}}</h1>
      <h3 id="module-h-topic" class="subtitle">{{module.topic}}</h3>
      <script>
        (function() {
          const nameEl = document.getElementById('module-h-name');
          if (nameEl.innerText.trim() === '') {
            nameEl.innerText = 'Unnamed';
          }
          const topicEl = document.getElementById('module-h-topic');
          if (topicEl.innerText.trim() === '') {
            topicEl.innerText = 'No Topic';
          }
        })();
      </script>
    {{/if}}
    {{#if loggedIn}}
      {{#unless module.isMine}}
        {{#if module.isEnrolled}}
          <button id="module-btn-enroll" class="button is-danger" onclick="unEnroll({{module.id}})">
            <i class="fas fa-times" style="margin-right: 7px;"></i>
            Unenroll
          </button>
        {{else}}
          <button id="module-btn-enroll" class="button is-primary" onclick="enroll({{module.id}})">
            <i class="fas fa-check" style="margin-right: 7px;"></i>
            Enroll
          </button>
        {{/if}}
      {{/unless}}
    {{else}}
      <div class="message is-warning" style="margin: 50px 20px 0 20px;">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Log in to enroll and see lessons' contents.
        </div>
      </div>
    {{/if}}
  </div>
</section>
<div style="margin: 0 12vw 50px;">
  <section class="content" style="margin-top: 40px;">
    <strong>Author</strong> <a href="/user/{{module.author.id}}">{{module.author.email}}</a>
    <br>
    <strong>Rating</strong> <span id="module-rating">{{module.rating}}/5</span>
    <!--<script>-->
    <!--document.addEventListener('DOMContentLoaded', (function() {-->
    <!--const el = document.getElementById('module-rating');-->
    <!--el.innerText = (({{module.rating}}) === '' || ({{module.rating}}) === '0' || ({{module.rating}}) === null-->
    <!--? '0'-->
    <!--: ({{module.rating}}) * 20) + '%';-->
    <!--}), {once: true});-->
    <!--</script>-->
  </section>
  <section class="is-medium" style="margin-bottom: 30px;">
    <h2 class="title is-medium" style="margin-bottom: 10px;">Summary</h2>
    {{#if module.isMine}}
      <textarea id="module-summary"
                style="min-width: 100%; min-height: 50px; word-wrap: break-word; padding: 10px; border: 1px #c9c3c3 dashed;">{{module.summary}}</textarea>
    {{else}}
      {{#if module.summary}}
        <p class="is-medium" style="width: 80%; word-wrap: break-word;">{{module.summary}}</p>
      {{else}}
        <p class="is-medium has-text-centered">No summary</p>
      {{/if}}
    {{/if}}
  </section>
  <section class="is-medium" style="margin-bottom: 30px;">
    <h2 class="title is-medium">Lessons</h2>
    {{#if module.lessons}}
      <ol id="module-lessons" class="list" style="min-width: 100%;">
        {{#if module.isMine}}
          {{#each module.lessons}}
            <li class="list-item" data-id="{{id}}" data-name="{{name}}" data-created-on="{{createdOn}}"
                data-updated-at="{{updatedAt}}"
                style="margin-bottom: 2px; display: flex; flex-direction: row; justify-content: space-between;">
              <a onclick="location.pathname += `/{{id}}`" data-id="{{id}}"
                 style="position: relative; top: 8px; left: 5px;">
                {{name}}
              </a>
              <div style="display: flex; flex-direction: row; justify-content: space-between; width: 180px;">
                <button onclick="location.pathname += `/{{id}}`" class="button is-small is-warning"
                        style="padding: -4px;">
                  <i class="fas fa-edit" style="margin-right: 7px;"></i>
                  Modify
                </button>
                <button class="button is-small is-danger" style="padding: -4px;">
                  <i class="fas fa-times" style="margin-right: 7px;"></i>
                  Delete
                </button>
              </div>
            </li>
          {{/each}}
          <script>
            for (const el of document.querySelectorAll('#module-lessons li')) {
              const a = el.querySelector('a[data-id]');
              if (a.innerText.trim() === '') {
                a.innerText = `unnamed #${a.getAttribute('data-id')}`;
              }
              el.querySelector('.button.is-danger').onclick = async function(event) {
                event.preventDefault();
                const moduleId = /(\d+)\/?$/.exec(location.pathname)[1];
                const lessonId = el.getAttribute('data-id');
                const response = await fetch(`/api/module/${moduleId}/${lessonId}/delete`, {
                  redirect: 'follow',
                  cache: 'no-cache',
                  mode: 'cors',
                  credentials: 'include',
                  headers: {
                    'Accept': 'application/json',
                  },
                });
                if (response.status >= 400) {
                  const json = await response.json();
                  const msg = json.msg || json.message || json.toString();
                  console.error(msg);
                  return alert(msg);
                } else return el.remove();
              };
            }
          </script>
        {{else}}
          {{#if loggedIn}}
            {{#each module.lessons}}
              <li class="list-item">
                <a data-id="{{id}}">{{name}}</a>
              </li>
            {{/each}}
          {{else}}
            {{#each module.lessons}}
              <li class="list-item">
                <a data-id="{{id}}">{{name}}</a>
              </li>
            {{/each}}
          {{/if}}
          <script>
            for (const el of document.querySelectorAll('#module-lessons li a')) {
              if (el.innerText.trim() === '') {
                el.innerText = `unnamed #${el.getAttribute('data-id')}`;
              }
              el.onclick = async function(event) {
                event.preventDefault();
                const response = await fetch(location.pathname + `/${el.getAttribute('data-id')}`, {
                  redirect: 'follow',
                  cache: 'no-cache',
                  mode: 'cors',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                  },
                });
                return response.status >= 400
                    ? alert('you need to enroll')
                    : (location.pathname += `/${el.getAttribute('data-id')}`);
              };
            }
          </script>
        {{/if}}
      </ol>
    {{else}}
      <p class="has-text-centered">No lessons</p>
    {{/if}}
    {{#if module.isMine}}
      <br>
      <button id="module-btn-lesson-create" class="button is-link" style="display: block; margin: auto;"
              onclick="location = '/lesson/create'">
        <i class="fas fa-plus"></i>
        Add Lesson
      </button>
      <script>
        (function() {
          document.getElementById('module-btn-lesson-create').onclick = async function() {
            try {
              document.getElementById('module-btn-save').dispatchEvent(new Event('click'));
              const moduleId = /(\d+)\/?$/.exec(location.pathname)[1];
              const result = await fetch(`/api/module/${moduleId}/lesson/create`, {
                redirect: 'follow',
                cache: 'no-cache',
                mode: 'cors',
                credentials: 'include',
                headers: {
                  'Content-Type': 'application/json',
                  'Accept': 'application/json',
                },
              });
              if (result.status >= 400) throw new (await result.json());
              const json = await result.json();
              location.pathname += `/${json.result.toString()}`;
            } catch (e) {
              return alert(e.msg || e.message || e.toString());
            }
          };
        })();
      </script>
    {{/if}}
  </section>
  {{#if module.isMine}}
    <nav style="margin: 20px auto; max-width: 350px;">
      <button id="module-btn-reset" class="button is-warning" onclick="if (confirm('Revert all changes?')) window.location.href = window.location.href" style="float: right;">
        <i class="fas fa-undo" style="margin-right: 7px;"></i>
        Reset
      </button>
      <button id="module-btn-delete" class="button is-danger" style="float: left;">
        <i class="fas fa-times" style="margin-right: 7px;"></i>
        Delete
      </button>
      <script>
        document.getElementById('module-btn-delete').onclick = () => {
          if (!confirm('Delete module?')) return;
          const regex = /(\d+)\/?$/;
          const match = regex.exec(location.pathname);
          const id = match[1];
          return fetch(`/api/module/${id}/delete`)
              .then(res => res.status >= 400
                  ? res.json().then(json => Promise.reject(json))
                  : res.json())
              .then(json => window.location.href = '/')
              .catch(err => alert(err.msg || err.message || err.toString()));
        };
      </script>
      <button id="module-btn-save" class="button is-primary" style="margin: 0 auto; display: block; min-width: 125px;">
        <i class="fas fa-check"></i>
        Save
      </button>
      <script>
        document.getElementById('module-btn-save').onclick = function(event) {
          event.preventDefault();
          const regex = /(\d+)\/?$/;
          const match = regex.exec(window.location.pathname);
          if (match !== null) {
            const id = match[1];
            const postBody = {};
            let summary = document.getElementById('module-summary');
            let topic = document.getElementById('module-topic');
            let name = document.getElementById('module-name');
            postBody.name = name.innerText !== '' ? name.innerText : null;
            postBody.topic = topic.innerText !== '' ? topic.innerText : null;
            postBody.summary = summary.value !== '' ? summary.value : null;
            return fetch(`/api/module/${id}`, {
              method: 'post',
              redirect: 'follow',
              cache: 'no-cache',
              mode: 'cors',
              credentials: 'include',
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
              },
              body: JSON.stringify(postBody),
            }).then(res => res.status >= 400
                ? res.json(json => Promise.reject(json))
                : res.json())
                .then(json => alert(json.msg))
                .catch(err => alert(err.msg || err.message || 'failed to modify the module'));
          }
        };
      </script>
    </nav>
  {{/if}}

  <section class="is-small">
    <h2 class="title is-medium">Comments</h2>
    {{#if module.ratings}}
      {{#each module.ratings}}
        <div class="box" style="margin: 20px auto 0;">
          <div style="margin-bottom: 10px;">
            <strong>{{stars}}/5</strong> by <em><a href="/user/{{rater.email}}">{{rater.email}}</a></em>
          </div>
          <p class="content">{{comment}}</p>
        </div>
      {{/each}}
    {{else}}
      <p class="has-text-centered">No comments</p>
    {{/if}}
  </section>
</div>
