<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/bulma.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src='/javascripts/lib.js'></script>
</head>

<body>

{{#unless error}}
  <nav class="navbar">

    <div class="navbar-brand" style="background: #f7f7f7;">
      <a href="/" class="navbar-item" style="background: #f7f7f7;">
        <img src="/images/logo.png" width="30" height="30" alt="Logo">
      </a>
    </div>

    <div class="navbar-menu" style="background: #f7f7f7;">
      <div class="navbar-start">
        <a href="/user/profile" class="navbar-item"> Home </a>
        <a href="/module/search" class="navbar-item"> Search </a>
        <a href="/module/create" class="navbar-item"> Create </a>
        <a href="/about" class="navbar-item"> About Us </a>
      </div>
    </div>

    {{#if loggedIn}}
      <div class="navbar-end">
        {{#if loggedin.firstname}}
          <div class="navbar-item">Hi {{loggedIn.firstName}}!</div>
        {{else}}
          <div class="navbar-item">Hi <span class="greeting-email" style="margin-left: 3px;"> {{loggedIn.email}}</span>!
          </div>
        {{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/user" class="navbar-link">Account Overview</a>
          <div class="navbar-dropdown">
            <a href="/user/settings" class="navbar-item">Settings</a>
            <a href="/help" class="navbar-item">Help</a>
            <hr class="navbar-divider">
            <a href="#" id="btn-log-out" class="navbar-item">Log out</a>
            <script>
              (function() {
                document.getElementById('btn-log-out').onclick = (event) => {
                  event.preventDefault();
                  return fetch('/api/user/logout', {
                    method: 'GET',
                    redirect: 'follow',
                    cache: 'no-cache',
                    mode: 'cors',
                    credentials: 'include',
                    headers: {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json',
                    },
                  }).then(response => response.json())
                      .then(response => {
                        window.location.href = window.location.href;
                      })
                      .catch(err => alert(err.msg || err.message || 'failed to log out'));
                };
              })();
            </script>
          </div>
        </div>
      </div>
    {{else}}
      <form action="" method='post'>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="control has-icons-left">
              <input name="email" class="input is-success is-small" id="email" type="email" placeholder="email"
                     autocomplete="on" maxlength="255" pattern=".{2,}@.{2,}\..{2,}" required>
              <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
            </div>
          </div>
          <div class="navbar-item">
            <div class="control has-icons-left">
              <input name="password" class="input is-success is-small" id="password" type="password"
                     placeholder="password"
                     pattern=".{6,}" required>
              <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
            </div>
          </div>
          <div class="navbar-item">
            <input type="submit" id="btn-log-in" value="Log In" class="button is-primary is-small">
            <script>
              (function() {
                document.getElementById('btn-log-in').onclick = (event) => {

                  // don't send the HTML form
                  event.preventDefault();

                  const email = document.getElementById('email').value;
                  const password = document.getElementById('password').value;
                  const credentials = {
                    email,
                    password,
                  };
                  return fetch(`/api/user/login`, {
                    method: 'POST',
                    redirect: 'follow',
                    cache: 'no-cache',
                    mode: 'cors',
                    credentials: 'include',
                    headers: {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json',
                    },
                    body: JSON.stringify(credentials),
                  }).then(response => response.status >= 400 ?
                      // error codes 400..499 and 500..599 are client and server errors
                      // if it goes wrong force it to jump to reject
                      Promise.reject(response.json()) :
                      // the JSON object is guaranteed to have a "msg" property
                      response.json()).then(json => {
                    // result should store the token if things go well
                    const token = json.result;
                    setCookie('token', token);
                    // redirect
                    window.location.href = window.location.href.endsWith('register')
                        ? '/user/profile'
                        : window.location.href;
                  }).catch(err => {
                    console.error(err);
                    return err.then(e => alert(e.msg || e.message || e.toString()));
                  });
                };
              })();
            </script>
          </div>
        </div>
      </form>
    {{/if}}
  </nav>
{{/if}}

{{{body}}}

</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p><a href="/about">About Us</a></p>
  </div>
</footer>
<script>
  (function() {
    /** Strip email suffix. I.e. all after the '@' at symbol. */
    const regex = /([A-Za-z0-9.]+)@([A-Za-z0-9.]+)/;
    for (const el of document.getElementsByClassName('greeting-email')) {
      const match = regex.exec(el.innerText);
      if (match !== null) {
        el.innerText = el.innerText.replace(match[0], ' ' + match[1] + ' ');
      }
    }
  })();
</script>
</html>
