<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/bulma.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src='/javascripts/lib.js'></script>
  <script async src='/javascripts/scripts.js'></script>
</head>

<body>

{{#unless error}}
  <nav class="navbar">
    <div class="navbar-brand has-background-grey-lighter">
      <a href="/" class="navbar-item has-background-grey-lighter">
        <img src="/images/logo.png" width="30" height="30" alt="Logo">
      </a>
    </div>

    <div class="navbar-menu has-background-grey-lighter">
      <div class="navbar-start">
        <a href="/" id="layout-btn-user-home" class="navbar-item">Home</a>
        {{#if user.isMe}}
          <script>
            if (window.location.pathname.match(/\/user\/\d+$/)) {
              document.getElementById('layout-btn-user-home').onclick = function(event) {
                event.preventDefault();
                return alert('already at home');
              };
            }
          </script>
        {{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/user" class="navbar-link">Search</a>
          <div class="navbar-dropdown">
            <a href="/module/search" class="navbar-item">Modules</a>
            <a href="/user/search" class="navbar-item">Users</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/user" class="navbar-link">Create</a>
          <div class="navbar-dropdown">
            <a id="layout-btn-create-module" class="navbar-item">Module</a>
            <!--<a id="layout-btn-create-lesson" class="navbar-item" onclick="location.href = '/lesson/create'">Lesson</a>-->
            {{#if loggedIn}}
              <script>
                document.getElementById('layout-btn-create-module').onclick = function(event) {
                  event.preventDefault();
                  return fetch('/api/module/create', {
                    redirect: 'follow',
                    cache: 'no-cache',
                    mode: 'cors',
                    credentials: 'include',
                    headers: {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json',
                    },
                  }).then(res => res.status >= 400
                        ? res.json().then(json => Promise.reject(json))
                        : res.json())
                      .then(res => window.location.href = `/module/${res.result.toString()}`)
                      .catch(err => {
                        console.log(err);
                        return alert(err.msg || err.message || 'failed to create a new module');
                      });
                };
              </script>
            {{else}}
              <script>
                document.getElementById('layout-btn-create-module').onclick = () => alert('log in to create modules');
              </script>
            {{/if}}
          </div>
        </div>
        <a href="/about" class="navbar-item">About Us</a>
      </div>
    </div>
    {{#if loggedIn}}
      <div class="navbar-end has-background-grey-lighter" style="padding-right: 100px;">
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/user" class="navbar-link">
            <i class="fas fa-user" style="margin-right: 10px;"></i>
            {{#if loggedin.firstname}}
              Hi {{loggedIn.firstName}}!
            {{else}}
              Hi <span class="greeting-email" style="margin-left: 3px;"> {{loggedIn.email}}</span>!
            {{/if}}
          </a>
          <div class="navbar-dropdown">
            <a href="/user?tab=enrollments" id="layout-btn-user-enrollments" class="navbar-item">
              <i class="fas fa-user-graduate" style="margin-right: 7px;"></i>
              Enrollments
            </a>
            <a href="/user?tab=created-modules" id="layout-btn-user-created-modules" class="navbar-item">
              <i class="fas fa-university" style="margin-right: 7px;"></i>
              Created Modules
            </a>
            <a href="/user?tab=personal-details" id="layout-btn-user-settings" class="navbar-item">
              <i class="fas fa-user" style="margin-right: 7px;"></i>
              Settings
            </a>
            <script>
              document.addEventListener('DOMContentLoaded', (function() {
                if (window.location.pathname.match(/\/user\/\d+$/)) {
                  document.getElementById('layout-btn-user-settings').onclick = function(event) {
                    event.preventDefault();
                    toggleTabPersonalDetails();
                  };
                  document.getElementById('layout-btn-user-created-modules').onclick = function(event) {
                    event.preventDefault();
                    toggleTabCreatedModules();
                  };
                  document.getElementById('layout-btn-user-enrollments').onclick = function(event) {
                    event.preventDefault();
                    toggleTabEnrollments();
                  };
                }
              }), {once: true});
            </script>
            <a href="/help" class="navbar-item">Help</a>
            <hr class="navbar-divider">
            <a href="#" id="layout-btn-log-out" class="navbar-item">Log out</a>
            <script>
              document.getElementById('layout-btn-log-out').onclick = (event) => {
                event.preventDefault();
                return fetch('/api/user/logout', {
                  redirect: 'follow',
                  cache: 'no-cache',
                  mode: 'cors',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                  },
                }).then(res => res.json())
                  .then(res => console.log(res))
                  .then(() => sessionStorage.clear())
                  .then(() => window.location.href = '/')
                  .catch(err => alert(err.msg || err.message || 'failed to log out'));
              };
            </script>
          </div>
        </div>
      </div>
    {{else}}
      <form action="" method="post" class="has-background-grey-lighter">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="control has-icons-left">
              <input name="email" class="input is-success is-small" id="layout-input-email" type="email" placeholder="email"
                     autocomplete="on" maxlength="255" pattern=".{2,}@.{2,}\..{2,}" required>
              <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
            </div>
          </div>
          <div class="navbar-item">
            <div class="control has-icons-left">
              <input name="password" class="input is-success is-small" id="layout-input-password" type="password"
                     placeholder="password" pattern=".{6,}" required>
              <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
            </div>
          </div>
          <div class="navbar-item">
            <input type="submit" id="layout-btn-log-in" value="Log In" class="button is-primary is-small">
            <a id="layout-btn-register-redirect" href="/user/register" class="button has-background-grey-light is-small"
               style="margin-left: 10px;">Register</a>
            <script>
              document.getElementById('layout-btn-log-in').onclick = (event) => {

                // don't send the HTML form
                event.preventDefault();

                const email = document.getElementById('layout-input-email').value;
                const password = document.getElementById('layout-input-password').value;
                const credentials = {email, password};
                return fetch(`/api/user/login`, {
                  method: 'POST',
                  redirect: 'follow',
                  cache: 'no-cache',
                  mode: 'cors',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                  },
                  body: JSON.stringify(credentials),
                }).then(response => response.status >= 400
                    // error codes 400..499 and 500..599 are client and server errors
                    // if it goes wrong force it to jump to reject
                    ? response.json().then(err => Promise.reject(err))
                    // the JSON object is guaranteed to have a "msg" property
                    : response.json()).then(json => {
                  // result should store the token if things go well
                  const token = json.result;
                  setCookie('token', token);
                  // redirect
                  window.location.href = window.location.href.endsWith('register')
                      ? '/user/profile'
                      : window.location.href;
                }).catch(err => {
                  console.error(err);
                  return alert(err.msg || err.message || err.toString());
                });
              };
            </script>
          </div>
        </div>
      </form>
    {{/if}}
  </nav>
{{/unless}}

<div style="min-height: 68vh;">
    {{{body}}}
</div>

{{#unless error}}
  <footer class="footer">
    <div class="content has-text-centered">
      <p><a href="/about">About Us</a></p>
    </div>
  </footer>
{{/unless}}

</body>

</html>
