<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bulma.css' />
  <script src='/javascripts/lib.js'></script>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="" class="navbar-item">
        <h1 class="title is-4">LOGO</h1>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item">
          Home
        </a>
        <a href="" class="navbar-item">
          Info
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="" class="navbar-link">
            Learn
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Modules
            </a>
            <a class="navbar-item">
              Content Creators
            </a>
            <a class="navbar-item">
              Quizzes
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Create your own
            </a>
          </div>

        </div>
      </div>
    </div>

    <form action="" method='post'>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input name="email" class="input is-success is-small" id="email" type="email" placeholder="email"
              autocomplete="on" maxlength="255" pattern=".{2,}@.{2,}\..{2,}" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input name="password" class="input is-success is-small" id="password" type="password" placeholder="password"
              pattern=".{6,}" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        {{#if loggedIn}}
          <h1>Hello {{loggedIn.firstName}} {{loggedIn.lastName}}!</h1>
        {{else}}
          <div class="navbar-item">
            <input type="submit" id="loginBtn" value="Log In" class="button is-primary is-small">
          </div>
        {{/if}}
      </div>

    </form>
  </nav>
  {{{body}}}
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="">About Us</a>
    </p>
  </div>
</footer>

</html>

<script>
  const maybeLoginBtn  = document.getElementById('loginBtn');
  if (maybeLoginBtn) {

    maybeLoginBtn.onclick = (event) => {

      // don't send the HTML form
      event.preventDefault();

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const credentials = { email, password };

      const cfg = {
        method: "POST",
        redirect:'follow',
        cache: "no-cache",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json",
        },
        body: JSON.stringify(credentials),
      };

      // error codes 400..499 and 500..599 are client and server errors
      return fetch(`/api/user/login`, cfg)
        .then(response => response.status >= 400 ?
          // if it goes wrong force it to jump to reject
          Promise.reject(response.json()) :
          // the JSON object is guaranteed to have a "msg" property
          response.json())
        .then(json => {
          // result should store the token if things go well
          const token = json.result; 
          setCookie('token', token);
          // redirect
          window.location = `/user/${email}`;
        })
        .catch(err => {
          console.error(err);
          return err.then(e => alert(e.msg || e.message || e.toString()));
        });
    }
  }
</script>