<section class="hero is-primary is-bold">
  <div class="hero-head"
       style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-bottom: 50px;">
      <h1 class="title is-1 has-text-centered" style="margin-top: 80px;">
      <!--<i class="fas fa-user"></i>-->
      {{#if loggedIn.firstName}}
        <span>{{loggedIn.firstName}}</span>
      {{else}}
        <span class="greeting-email">{{loggedIn.email}}</span>
      {{/if}}
    </h1>
    <a href="." class="button is-light is-small">
      <i class="fas fa-eye" style="margin-right: 7px;"></i>
      View
    </a>
  </div>
  <div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li>
        <a id="user-btn-enrollments-tab" onclick="toggleTabEnrollments()">
          <span class="icon is-small"><i class="fas fa-user-graduate"></i></span>
          <span>Enrollments</span>
        </a>
      </li>
      <li>
        <a id="user-btn-created-modules-tab" onclick="toggleTabCreatedModules()">
          <span class="icon is-small"><i class="fas fa-university"></i></span>
          <span>Created Modules</span>
        </a>
      </li>
      <li>
        <a id="user-btn-personal-details" onclick="toggleTabPersonalDetails()">
          <span class="icon is-small"><i class="fas fa-user"></i></span>
          <span>Personal Details</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="user-personal-details" class="is-hidden" style="margin: 3vw 22vw;">
  <form>
    <div class="field">
      <label class="label">First name</label>
      <div class="control has-icons-left">
        <input class="input" id="user-first-name"
               value="{{loggedIn.firstName}}"
               type="text" placeholder="e.g.: John">
        <span class="icon is-left"><i class="fas fa-user"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Last name</label>
      <div class="control has-icons-left">
        <input class="input" id="user-last-name" value="{{loggedIn.lastName}}" type="text" placeholder="e.g.: Smith">
        <span class="icon is-left"><i class="fas fa-user"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Info</label>
      <div class="control">
            <textarea class="textarea" maxlength="255" id="user-info"
                      style="background: #d3d3d329;"
                      placeholder="Summary of who you are and what you are interested in">{{loggedIn.info}}</textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input class="input" id="user-input-email"
               type="email" value="{{loggedIn.email}}"
               minlength="2" pattern=".{2,}@.{2,}\..{2,}">
        <span class="icon is-left"><i class="fas fa-user"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Current password</label>
      <div class="control has-icons-left">
        <input class="input" id="user-password-old" type="password">
        <span class="icon is-left"><i class="fas fa-lock"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">New password</label>
      <div class="control has-icons-left">
        <input class="input" minlength="6" pattern=".{6,}" id="user-password-new" type="password">
        <span class="icon is-left"><i class="fas fa-lock"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Re-enter new password</label>
      <div class="control has-icons-left">
        <input class="input" minlength="6" id="user-password-new-2" type="password">
        <span class="icon is-left"><i class="fas fa-lock"></i></span>
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered" style="padding: 20px;">
      <p class="control">
        <input type="submit" class="button is-primary" id="user-btn-modify-details" value="Save"
               style="min-width: 100px;">
      </p>
      <button class="button is-warning" onclick="if (confirm('Lose all changes?')) location.href = location.href"
              style="min-width: 100px;">
        <i class="fas fa-undo" style="margin-right: 7px;"></i>
        Undo
      </button>
    </div>
  </form>
</section>

<section id="user-created-modules" class="is-hidden" style="margin: 70px 15vw;">
  {{#if user.createdModules}}
    <ul class="list" style="margin: auto">
      {{#each user.createdModules}}
        <li class="list-item"
            data-id="{{id}}"
            data-name="{{name}}"
            data-updated-at="{{updatedAt}}"
            data-created-at="{{createdAt}}"
            data-summary="{{this.module.summary}}"
            style="padding: 14px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <a href="/module/{{id}}/edit" class="has-text-link" style="display: inline;">
            {{name}}
          </a>
          <div
              style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 250px;">
            <a href="/module/{{id}}" class="button is-small is-link">
              <i class="far fa-eye" style="margin-right: 7px;"></i>
              View
            </a>
            <a href="/module/{{id}}/edit" class="button is-small is-warning">
              <i class="fas fa-edit" style="margin-right: 7px;"></i>
              Edit
            </a>
            <button class="button is-small is-danger">
              <i class="fas fa-times" style="margin-right: 7px;"></i>
              Delete
            </button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="has-text-centered">Create modules and they will show up here!</p>
  {{/if}}
  <button class="button is-link" style="display: block; margin: 35px auto;">
    <i class="fas fa-plus" style="margin-right: 7px;"></i>
    Create Module
  </button>
</section>

<section id="user-enrollments" class="is-hidden" style="margin: 70px 15vw;">
  {{#if user.enrollments}}
    <ul class="list" style="margin: auto">
      {{#each user.enrollments}}
        <li class="list-item"
            data-id="{{this.id}}"
            data-updated-at="{{updatedAt}}"
            data-created-at="{{createdAt}}"
            data-module-id="{{this.moduleId}}"
            data-module-updated-at="{{this.module.updatedAt}}"
            data-module-created-at="{{this.module.createdAt}}"
            data-module-summary="{{this.module.summary}}"
            data-module-author-id="{{this.module.authorId}}"
            style="padding: 14px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <a href="/module/{{this.moduleId}}" class="has-text-link" style="display: inline;">
            {{this.module.name}}
          </a>
          <div style="display: flex; justify-content: space-between; width: 180px; align-items: center;">
            <a href="/module/{{this.module.id}}" class="button is-small is-link">
              <i class="far fa-eye" style="margin-right: 7px;"></i>
              View
            </a>
            <button class="button is-small is-danger">
              <i class="fas fa-times" style="margin-right: 7px;"></i>
              Unenroll
            </button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="has-text-centered">You haven't enrolled in any module!</p>
  {{/if}}
  <p class="has-text-centered">
    <button class="button is-link"
            onclick="window.location = '/module/search'"
            style="display: block; margin: 60px auto;">
      <i class="fas fa-search"></i>
      Search for Modules
    </button>
  </p>
</section>

<script src="/javascripts/user/edit.js" async></script>
