<section class="hero is-primary is-bold">
  <div class="hero-head">
    <br>
    <div class="container">
      <h1 class="title is-1 has-text-centered" style="margin: 50px 0;">
        <!--<i class="fas fa-user"></i>-->
        {{#if user.firstName}}
          <span>{{user.firstName}}</span>
        {{else}}
          <span class="greeting-email">{{user.email}}</span>
        {{/if}}
      </h1>
    </div>
  </div>
  <div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li>
        <a id="user-btn-enrollments-tab">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Enrollments</span>
        </a>
      </li>
      <li>
        <a id="user-btn-created-modules-tab">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Created Modules</span>
        </a>
      </li>
      <li>
        <a id="user-btn-personal-details">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Personal Details</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="user-personal-details" class="is-hidden">
  {{#if user.isMe}}
    <form style="margin: 3vw 30vw;">
      <div class="field">
        <label class="label">First name</label>
        <div class="control has-icons-left">
          <input class="input" id="user-first-name" value="{{loggedIn.firstName}}" type="text"
                 placeholder="e.g.: John">
          <span class="icon is-left"><i class="fas fa-user"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Last name</label>
        <div class="control has-icons-left">
          <input class="input" id="user-last-name" value="{{loggedIn.lastName}}" type="text" placeholder="e.g.: Smith">
          <span class="icon is-left"><i class="fas fa-user"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Info</label>
        <div class="control">
            <textarea class="textarea" maxlength="255" id="user-info"
                      placeholder="Summary of who you are and what you are interested in">{{loggedIn.info}}</textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input value="{{loggedIn.email}}" class="input" id="user-input-email" type="email" minlength="2" pattern=".{2,}@.{2,}\..{2,}">
          <span class="icon is-left"><i class="fas fa-user"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Current password</label>
        <div class="control has-icons-left">
          <input class="input" id="user-password-old" type="password">
          <span class="icon is-left"><i class="fas fa-lock"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">New password</label>
        <div class="control has-icons-left">
          <input class="input" minlength="6" pattern=".{6,}" id="user-password-new" type="password">
          <span class="icon is-left"><i class="fas fa-lock"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Re-enter new password</label>
        <div class="control has-icons-left">
          <input class="input" minlength="6" id="user-password-new-2" type="password">
          <span class="icon is-left"><i class="fas fa-lock"></i></span>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered" style="padding: 20px;">
        <p class="control">
          <input type="submit" class="button is-primary" id="user-btn-modify-details" value="Change My Details">
        </p>
      </div>
    </form>
    <script>
      (function() {
        document.getElementById('user-input-email').oninput = function () {
          this.style.background = this.value.match(/.{2,}@.{2,}\.(.{2,})/) ? '#e7fdd1' : '#ffbaba';
        };
      })();
      (function() {
        document.getElementById('user-password-new').oninput = function () {
          this.style.background = this.value.match(/.{6,}/) ? '#e7fdd1' : '#ffbaba';
        };
      })();
      (function() {
        document.getElementById('user-password-new-2').oninput = function () {
          const elPassword = document.getElementById('user-password-new');
          this.style.background = elPassword.value !== this.value ? '#ffbaba' : '#e7fdd1';
          elPassword.style.background = elPassword.value !== this.value ? '#ffbaba' : '#e7fdd1';
        };
      })();
      (function() {
        document.getElementById('user-btn-modify-details').onclick = (event) => {
          event.preventDefault();
          const details = {};
          const changedAttrs = [];
          const emailEl = document.getElementById('user-input-email');
          details.email = emailEl.value;
          const infoEl = document.getElementById('user-info');
          details.info = infoEl.value === '' ? null : infoEl.value;
          const firstNameEl = document.getElementById('user-first-name');
          details.firstName = firstNameEl.value === '' ? null : firstNameEl.value;
          const lastNameEl = document.getElementById('user-last-name');
          details.lastName = lastNameEl.value === '' ? null : lastNameEl.value;
          const cfg = {
            method: 'POST',
            withCredentials: true,
            cache: 'no-cache',
            body: JSON.stringify(details),
            redirect: 'follow',
            mode: 'cors',
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
          };
          for (const k of Object.keys(details)) changedAttrs.push(k);
          return fetch('/api/user', cfg).then((result) => result.status >= 400
              ? result.json().then(json => Promise.reject(json))
              : result.json())
              .then(() => {
                const elOldPass = document.getElementById('user-password-old');
                const elEmail = document.getElementById('user-input-email');
                if (elEmail.value === '' || elEmail.value.indexOf('@') <= 0 || elEmail.value.length <= 4) {
                  return alert('bad email format, cannot change password');
                }
                const elNewPass = document.getElementById('user-password-new');
                const elNewPass2 = document.getElementById('user-password-new-2');
                // if all password fields empty
                if ([elOldPass, elNewPass, elNewPass2].reduce((prev, cur) => cur['value'] === '' && prev, true)) {
                  return alert(`successfully modified ${changedAttrs.join(', ')}`);
                }
                changedAttrs.push('password');
                // if any passwords are empty
                if ([elOldPass, elNewPass, elNewPass2].reduce((prev, cur) => prev || cur['value'] === '', false)) {
                  return alert('empty password');
                }
                if (elNewPass.value !== elNewPass2.value) {
                  return alert('new passwords don\'t match');
                }
                if (elNewPass.value === elOldPass.value) {
                  return alert('old and new password are exactly the same');
                }
                return fetch('/api/user/password', Object.assign(cfg, {
                  body: JSON.stringify({
                    value: elNewPass.value,
                    password: elOldPass.value,
                    email: elEmail.value,
                  }),
                })).then(result => result.status >= 400
                    ? result.json().then(json => Promise.reject(json))
                    : result.json())
                    .then(json => alert(`successfully modified ${changedAttrs.join(', ')}`));
              }).catch(json => alert(json.msg || json.message || `failed to change ${changedAttrs.join(', ')}`));
        };
      })();
    </script>
  {{else}}
    <div style="margin: 3vw 30vw">
      <h5 class="title is-6">Email</h5>
      <p>{{user.email}}</p><br/>
      {{#if user.firstName}}
        <h5 class="title is-6">First Name</h5>
        <p>{{user.firstName}}</p><br/>
      {{/if}}
      {{#if user.lastName}}
        <h5 class="title is-6">Last Name</h5>
        <p>{{user.lastName}}</p><br/>
      {{/if}}
      {{#if user.info}}
        <h5 class="title is-6">Info</h5>
        <p>{{user.info}}</p><br/>
      {{/if}}
      <h5 class="title is-6">Member Since</h5>
      <p id="member-since-date">{{user.createdAt}}</p><br/>
    </div>
    <script>
      (function() {
        const el = document.getElementById('member-since-date');
        if (el.innerText.trim()) {
          const regex = /(.*\s+GMT\+\d).*/;
          const match = regex.exec(el.innerText);
          if (match) el.innerText = match[1];
        }
      })();
    </script>
  {{/if}}
</section>

<section id="user-created-modules" class="is-hidden" style="margin: 70px 25vw;">
  {{#if user.createdModules}}
    <ul class="list" style="width: 100%;">
      {{#each user.createdModules}}
        <li class="list-item">
          <a href="/module/{{id}}" class="has-text-link" style="display: inline;">
            {{name}}
          </a>
        </li>
      {{/each}}
      <script>
        (function() {
          for (const el of document.querySelectorAll('#user-created-modules li a')) {
            if (el.innerText.trim() === '') el.innerText = 'unnamed';
          }
        })();
      </script>
    </ul>
  {{else}}
    <p class="has-text-centered">
      {{#if user.isMe}}
        Create modules and they will show up here!
      {{else}}
        The user has not created any modules!
      {{/if}}
    </p>
  {{/if}}
</section>

<section id="user-enrollments" style="margin: 70px 25vw;">
  {{#if user.enrollments}}
    <ul class="list" style="width: 100%;">
      {{#each user.enrollments}}
        <li class="list-item">
          <a href="/module/{{moduleId}}" class="has-text-link" style="display: inline;">
            {{module.name}}
          </a>
        </li>
      {{/each}}
      <script>
        (function() {
          for (let el of document.querySelectorAll('#user-enrollments li a')) {
            if (el.innerText.trim() === '') el.innerText = 'unnamed'
          }
        })();
      </script>
    </ul>
  {{else}}
    <p class="has-text-centered">
      {{#if user.isMe}}
        Enroll to modules and they will show up here!
      {{else}}
        The user has not enrolled in any modules!
      {{/if}}
    </p>
  {{/if}}
</section>

{{#if user.isMe}}
  <!--NOTE this is a workaround because Handlebars doesn't allow to reference -->
  <!--user inside the "each" clause-->
  <script>
    (function() {
      for (const el of document.querySelectorAll('#user-enrollments ul li')) {
        const btn = document.createElement('button');
        btn.classList.add('button');
        btn.classList.add('is-small');
        btn.classList.add('is-danger');
        btn.style.float = 'right';
        btn.style.margin = '-5px';
        btn.innerText = 'Unenroll';
        btn.onclick = function(event) {
          event.preventDefault();
          const uri = `/api/module/${this.parentElement.querySelector('a').innerText.trim()}/unenroll`;
          console.log(uri);
          return fetch(uri, {
            redirect: 'follow',
            cache: 'no-cache',
            mode: 'cors',
            credentials: 'include',
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
          }).then(res => res.status >= 400
            ? res.json().then(err => Promise.reject(err))
              : Promise.resolve(res.json()))
              .then(() => this.parentElement.remove())
              .catch(err => alert(err.msg || err.message || 'failed to unenroll'));
        };
        el.appendChild(btn);
      }
    })();
    (function() {
      for (const el of document.querySelectorAll('#user-created-modules li')) {

        const btnDelete = document.createElement('button');
        btnDelete.classList.add('button');
        btnDelete.classList.add('is-small');
        btnDelete.classList.add('is-danger');
        btnDelete.style.float = 'right';
        btnDelete.style.margin = '-5px';
        btnDelete.innerText = 'Delete';
        btnDelete.onclick = function(event) {
          event.preventDefault();
          const regex = /(\d+)$/;
          const match = regex.exec(el.querySelector('a').href);
          const id = match[1];
          if (!confirm('Delete module ?')) return;
          return fetch(`/api/module/${id}/delete`)
              .then(res => res.status >= 400
                  ? res.json().then(json => Promise.reject(json))
                  : res.json())
              .then(json => el.remove())
              .catch(err => alert(err.msg || err.message || err.toString()));
        };
        el.appendChild(btnDelete);

        const btnModify = document.createElement('button');
        btnModify.classList.add('button');
        btnModify.classList.add('is-small');
        btnModify.classList.add('is-warning');
        btnModify.style.float = 'right';
        btnModify.style.marginTop = '-5px';
        btnModify.style.marginRight = '12px';
        btnModify.innerText = 'Modify';
        btnModify.onclick = function(event) {
          window.location.href = this.parentElement.querySelector('a').href;
        };
        el.appendChild(btnModify);

      }
    })();
  </script>
{{/if}}

<script>
    document.getElementById('user-btn-personal-details').onclick = toggleTabPersonalDetails;
    document.getElementById('user-btn-enrollments-tab').onclick = toggleTabEnrollments;
    document.getElementById('user-btn-created-modules-tab').onclick = toggleTabCreatedModules;

    (function () {
      const queries = document.location.search.slice(1).split('&').map(s => s.split('='));
      for (const pair of queries) {
        const [k, v] = pair;
        if (k === 'tab') {
          switch (v) {
          case 'created-modules':
            return toggleTabCreatedModules();
          case 'enrollments':
            return toggleTabEnrollments();
          case 'personal-details':
            return toggleTabPersonalDetails();
          }
        }
      }
      const cookies = document.cookie
        .split(';')
        .map(cookie => cookie.trim().split('=')
        .map(x => x.trim()));
      for (const pair of cookies) {
        const [k, v] = pair;
        if (k === 'homeTab') {
          switch (v) {
          case 'personal-details':
            return toggleTabPersonalDetails();
          case 'enrollments':
            return toggleTabEnrollments();
          case 'created-modules':
            return toggleTabCreatedModules();
          }
        }
      }
    })();
</script>
