<section class="hero is-primary is-bold">
  <div class="hero-head"
       style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-bottom: 50px;">
    <h1 class="title is-1 has-text-centered" style="margin-top: 80px;">
      <!--<i class="fas fa-user"></i>-->
      {{#if user.firstName}}
        <span>{{user.firstName}}</span>
      {{else}}
        <span class="greeting-email">{{user.email}}</span>
      {{/if}}
    </h1>
    {{#if user.isMe}}
      <a href="edit" class="button is-warning is-small">
        <i class="fas fa-edit" style="margin-right: 7px;"></i>
        Edit
      </a>
    {{/if}}
  </div>
  <div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li>
        <a id="user-btn-enrollments-tab" onclick="toggleTabEnrollments()">
          <span class="icon is-small"><i class="fas fa-user-graduate"></i></span>
          <span>Enrollments</span>
        </a>
      </li>
      <li>
        <a id="user-btn-created-modules-tab" onclick="toggleTabCreatedModules()">
          <span class="icon is-small"><i class="fas fa-university"></i></span>
          <span>Created Modules</span>
        </a>
      </li>
      <li>
        <a id="user-btn-personal-details" onclick="toggleTabPersonalDetails()">
          <span class="icon is-small"><i class="fas fa-user"></i></span>
          <span>Personal Details</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="user-personal-details"
         class="is-hidden"
         style="margin: 3vw 30vw; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
  <h5 class="title is-6">Email</h5>
  <p>{{user.email}}</p><br/>
  {{#if user.firstName}}
    <h5 class="title is-6">First Name</h5>
    <p>{{user.firstName}}</p><br/>
  {{/if}}
  {{#if user.lastName}}
    <h5 class="title is-6">Last Name</h5>
    <p>{{user.lastName}}</p><br/>
  {{/if}}
  {{#if user.info}}
    <h5 class="title is-6">Info</h5>
    <p>{{user.info}}</p><br/>
  {{/if}}
  <h5 class="title is-6">Member Since</h5>
  <p id="member-since-date">{{user.createdAt}}</p><br/>
</section>

<section id="user-created-modules" class="is-hidden" style="margin: 70px 25vw;">
  {{#if user.createdModules}}
    <ul class="list" style="margin: auto">
      {{#each user.createdModules}}
        <li class="list-item"
            data-id="{{this.id}}"
            data-updated-at="{{this.updatedAt}}"
            data-created-at="{{this.createdAt}}"
            data-summary="{{this.summary}}"
            style="padding: 14px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <a href="/module/{{this.id}}" class="has-text-link" style="display: block;"> {{this.name}}</a>

        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="has-text-centered">
      The user has not created any modules!
    </p>
  {{/if}}
</section>

<section id="user-enrollments" class="is-hidden" style="margin: 70px 25vw;">
  {{#if user.enrollments}}
    <ul class="list" style="margin: auto">
      {{#each user.enrollments}}
        <li class="list-item"
            data-id="{{this.id}}"
            data-updated-at="{{this.updatedAt}}"
            data-created-at="{{this.createdAt}}"
            data-module-id="{{this.moduleId}}"
            data-module-updated-at="{{this.module.updatedAt}}"
            data-module-created-at="{{this.module.createdAt}}"
            data-module-summary="{{this.module.summary}}"
            data-module-author-id="{{this.module.authorId}}"
            style="padding: 14px;">
          <a href="/module/{{this.moduleId}}"
             class="has-text-link"
             style="display: inline;">
            {{module.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="has-text-centered">The user has not enrolled in any modules!</p>
  {{/if}}
</section>

<script src="/javascripts/user/view.js" async></script>
