<div style="margin: 50px 0 20px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <h1 class="title is-1 has-text-centered" style="margin: 0 15px 0 0;">
    Modify Lesson
  </h1>
  {{#if lesson.module.isMine}}
    <a href="/module/{{lesson.module.id}}/{{lesson.id}}" class="button is-light is-small"
       style="max-width: 100px; display: block;">
      <i class="far fa-eye" style="margin-right: 7px;"></i>
      View
    </a>
  {{/if}}
</div>

<div class="columns is-multiline" style="margin: 0 10vw 10px 10vw;">
  <nav class="panel column is-2-desktop is-full-tablet is-full-mobile">
    <h2 class="title has-text-centered" style="margin-bottom: 20px;">
      <a class="button is-link" href="/module/{{lesson.module.id}}/edit" style="width: 100%;">
        <span style="position: relative; right: 3px;">
            <i class="fas fa-arrow-left" style="margin-right: 7px;"></i>
            Module
        </span>
      </a>
    </h2>
    {{#each lesson.module.lessons}}
      <a href="/module/{{../lesson.module.id}}/{{this.id}}/edit"
         class="panel-block has-text-link"
         data-id="{{this.id}}"
         data-created-on="{{this.createdAt}}"
         data-updated-at="{{this.updatedAt}}">
          <span class="panel-icon" style="margin-right: 7px;">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
        {{#if name}}
          {{this.name}}
        {{else}}
          unnamed #{{this.id}}
        {{/if}}
      </a>
    {{/each}}
  </nav>
  <form method="post" action="/module/{{lesson.module.id}}/{{lesson.id}}" id="lesson-edit-form"
        enctype="multipart/form-data"
        class="column is-10-desktop is-full-tablet is-full-mobile"
        style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">

    <h2 class="title is-3">Name</h2>
    <input id="lesson-edit-name" name="name" value="{{lesson.name}}" autocomplete="on"
           style="background: #d3d3d329; padding: 5px; border: 1px #c9c3c3 dashed;"
           placeholder="e.g. Introduction to AI">

    <div style="margin: 30px 0 20px 0;">
      <h2 class="title is-3">Summary</h2>
      <textarea id="lesson-edit-summary" name="summary" autocomplete="on"
                style="padding: 5px; min-width: 650px; min-height: 50px; max-height: 800px; border: 1px #c9c3c3 dashed;">{{lesson.summary}}</textarea>
    </div>

    <div
        style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start; margin-bottom: 30px; margin-top: 60px;">
      <h2 class="title is-3">Content</h2>
      <p style="margin-bottom: 10px;">Upload an HTML file with the lesson content</p>
      {{#if lesson.content}}
        <p id="lesson-edit-msg-has-lesson">
          <br>
          <strong>NOTE</strong>
          <br>
          You have already uploaded lesson content!
          <br>
          Feel free to <strong>replace</strong> it by re-uploading another file.
        </p>
        <br>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; min-width: 200px;">
          <a id="lesson-edit-btn-download" href="/module/{{lesson.module.id}}/{{lesson.id}}/download"
             class="has-text-centered button is-link is-small"
             download="lesson.html">
            <i class="fas fa-download" style="margin-right: 10px;"></i>
            Download
          </a>
          <button id="lesson-edit-btn-delete-content" class="button is-danger is-small"
                  style="margin-top: 10px; margin-bottom: 10px;">
            <i class="fas fa-times" style="margin-right: 10px;"></i>
            Delete
          </button>
        </div>
      {{else}}
        <ul style="display: flex; flex-direction: column; justify-content: space-around;">
          <li>
            <p><em>Only</em> include the <em>content</em> of the <code>&lt;body&gt;</code> tag</p>
          </li>
          <li>
            <p>We will only accept <strong>HTML</strong> files</p>
          </li>
        </ul>
      {{/if}}
      <input type="file" name="lesson" style="display: block; max-width: 200px; margin-top: 20px;">
    </div>

    <div style="display: flex; flex-direction: column; justify-content: space-around;">
      <h2 class="title is-3">Attachments (optional)</h2>
      <p><strong>Select a file:</strong></p>
      <br>
      <ul style="list-style-type: disc; display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
        <li>Image (.jpg, .jpeg, .png, .gif)</li>
        <li>Audio (.mp3)</li>
        <li>Video (.mp4, .mpg)</li>
      </ul>
      <br>
      <div id="lesson-edit-attachments">
        <input type="file" name="attachment-1">
      </div>
      <br>
      <button id="lesson-edit-btn-more" class="button is-link is-small"
              style="display: block; margin: 10px 0; max-width: 90px;">
        <i class="fas fa-plus"></i>
        More
      </button>
    </div>

    {{#if lesson.files}}
      <div
          style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start; margin-top: 20px;">
        <h3 id="lesson-edit-h-uploaded-files" class="title is-5">
          Uploaded Files
        </h3>
        <ul id="lesson-edit-uploaded-files"
            style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
          {{#each lesson.files}}
            <li class="has-text-black"
                data-id="{{id}}"
                data-name="{{name}}"
                data-updated-at="{{updatedAt}}"
                data-created-on="{{createdOn}}"
                style=" background: #e5e5e5d4; padding: 8px 12px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 300px; max-width: 500px; margin-bottom: 10px;">
              <div class="module-file-name">{{name}}</div>
              <div
                  style="width: 75px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <a href="/module/{{../lesson.module.id}}/{{lessonId}}/{{name}}" class="button is-link is-small"
                   data-name="{{name}}"
                   data-id="{{id}}" download style=""><i class="fas fa-download"></i></a>
                <button class="button is-small is-danger">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
        <br>
      </div>
    {{/if}}
  </form>
</div>

<div
    style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin: 20px auto; min-width: 300px; max-width: 500px;">
  <a class="button is-warning" style="min-width: 100px;"
     onclick="if (confirm('Lose all changes?')) location.href = location.href">
    <i class="fas fa-undo" style="margin-right: 7px;"></i>
    Cancel
  </a>
  <input class="button is-primary" form="lesson-edit-form" style="min-width: 100px;" type="submit" value="Save">
  <a class="button is-danger" style="min-width: 100px;">
    <i class="fas fa-times" style="margin-right: 7px;"></i>
    Delete
  </a>
</div>

<script src="/javascripts/lesson/edit.js"></script>
