<section class="hero">
  <div class="hero-head"></div>
  {{#if lesson.isMine}}
    <div class="columns is-centered" style="margin: 50px 0;">
      <div class="column is-4-desktop is-hidden-tablet is-hidden-mobile"></div>
      <div class="column is-4-desktop is-12-tablet is-12-mobile">
        <h1 class="title is-1 has-text-centered" style="margin-bottom: 40px;">Modify Lesson</h1>
        <form method="post" enctype="multipart/form-data"
              style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">

          <h2 class="title is-3 has-text-centered">Name</h2>
          <input id="lesson-name" name="name" value="{{lesson.name}}"
                 style="min-width: 300px; background: #d3d3d329; max-width: 450px; padding: 5px; border: 1px #c9c3c3 dashed;"
                 placeholder="e.g. Introduction to AI">


          <h2 class="title is-3 has-text-centered" style="margin: 50px 0 20px 0;">Summary</h2>
          <textarea id="lesson-summary" name="summary"
                    style="min-width: 400px; max-width: 400px; padding: 5px; min-height: 100px; max-height: 300px; border: 1px #c9c3c3 dashed;">{{lesson.summary}}</textarea>

          <h2 class="title is-3 has-text-centered" style="margin: 50px 0 20px 0;">Content</h2>
          <p class="has-text-centered" style="margin-bottom: 10px;">Upload an HTML file with the lesson content</p>
          {{#if lesson.content}}
            <a id="lesson-btn-download" href="{{lesson.id}}/download" class="has-text-centered button is-link is-small"
               style="display: block; margin: 20px auto 10px;" download="lesson.html">
              <i class="fas fa-download" style="margin-right: 10px;"></i>
              Download
            </a>
            <button id="lesson-btn-delete-content" class="button is-danger is-small" style="margin-top: 10px; margin-bottom: 10px;">
              <i class="fas fa-times" style="margin-right: 10px;"></i>
              Delete
            </button>
            <p id="lesson-msg-has-lesson" class="has-text-centered">
              <br>
              <strong>NOTE</strong>
              <br>
              You have already uploaded lesson content!
              <br>
              Feel free to <strong>replace</strong> it by re-uploading another file.
            </p>
            <script>
              document.getElementById('lesson-btn-delete-content').onclick = async function(event) {
                event.preventDefault();
                const lessonId = /(\d+)$/.exec(location.pathname)[1];
                const moduleId = /(\d+)\/\d+$/.exec(location.pathname)[1];
                const response = await fetch(`/api/module/${moduleId}/${lessonId}`, {
                  method: 'POST',
                  redirect: 'follow',
                  cache: 'no-cache',
                  mode: 'cors',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                  },
                  body: JSON.stringify({content: null}),
                });
                if (response.status >= 400) {
                  const json = await response.json();
                  const msg = json.msg || json.message || json.toString();
                  console.error(msg);
                  return alert(msg);
                } else {
                  document.getElementById('lesson-btn-download').remove();
                  document.getElementById('lesson-msg-has-lesson').remove();
                  return this.remove();
                }
              };
            </script>
          {{else}}
            <ul class="has-text-centered"
                style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
              <li>
                <p><em>Only</em> include the <em>content</em> of the <code>&lt;body&gt;</code> tag</p>
              </li>
              <li>
                <p>We will only accept <strong>HTML</strong> files</p>
              </li>
            </ul>
          {{/if}}
          <br>
          <input type="file" name="lesson" style="display: block; max-width: 200px;">
          {{#if lesson.files}}
            <h4 id="lesson-h-uploaded-files" class="title is-3 has-text-centered" style="margin: 50px 0 30px 0;">
              Uploaded Files</h4>
            <ul id="lesson-uploaded-files"
                style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
              {{#each lesson.files}}
                <li data-id="{{id}}" data-name="{{name}}" data-updated-at="{{updatedAt}}"
                    data-created-on="{{createdOn}}"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 300px; max-width: 500px; margin-bottom: 10px;">
                  <div class="module-file-name">{{name}}</div>
                  <div
                      style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 80px;">
                    <a href="{{lessonId}}/{{name}}" class="button is-link is-small" data-name="{{name}}"
                       data-id="{{id}}" download style=""><i class="fas fa-download"></i></a>
                    <button class="button is-small is-danger">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </li>
              {{/each}}
            </ul>
            <script>
              for (const el of document.querySelectorAll('#lesson-uploaded-files li')) {
                el.querySelector('.button.is-danger').onclick = async function(event) {
                  event.preventDefault();
                  const lessonId = /(\d+)$/.exec(location.pathname)[1];
                  const moduleId = /(\d+)\/\d+$/.exec(location.pathname)[1];
                  const fileName = el.querySelector('.module-file-name').innerText.trim();
                  const response = await fetch(`/api/module/${moduleId}/${lessonId}/${fileName}/delete`, {
                    redirect: 'follow',
                    cache: 'no-cache',
                    mode: 'cors',
                    credentials: 'include',
                  });
                  if (response.status >= 400) {
                    const json = await response.json();
                    const msg = json.msg || json.message || json.toString();
                    console.error(msg);
                    return alert(msg);
                  }
                  el.remove();
                  if ([...document.querySelectorAll('#lesson-uploaded-files li')].length === 0) {
                    document.getElementById('lesson-uploaded-files').remove();
                    document.getElementById('lesson-h-uploaded-files').remove();
                  }
                };
              }
            </script>
            <br>
          {{/if}}
          <h2 class="title is-3 has-text-centered" style="margin-top: 30px;">Attachments (optional)</h2>
          <p class="has-text-centered"><strong>Select a file:</strong></p>
          <br>
          <ul class="has-text-centered"
              style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
            <li>Image (.jpg, .jpeg, .png, .gif)</li>
            <li>Audio (.mp3)</li>
            <li>Video (.mp4, .mpg)</li>
          </ul>
          <br>
          <div id="lesson-attachments">
            <input type="file" name="attachment-1">
          </div>
          <br>
          <button id="lesson-btn-more" class="button is-link" style="display: block; margin: 10px 0;">
            <i class="fas fa-plus"></i>
            More
          </button>
          <script>
            document.getElementById('lesson-btn-more').onclick = function(event) {
              event.preventDefault();
              const number = eval(
                  /(\d+)$/.exec(document.querySelector('#lesson-attachments input[type=file]:last-of-type').name)[1]);
              const newEl = document.createElement('input');
              newEl.type = 'file';
              newEl.name = `attachment-${number + 1}`;
              newEl.style.margin = '30px auto 0';
              return document.querySelector('#lesson-attachments').appendChild(newEl);
            };
          </script>
          <div
              style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; min-width: 250px; margin-top: 50px;">
            <input class="button is-primary" style="min-width: 100px;" type="submit" value="Save">
            <a class="button is-warning" style="min-width: 100px;"
               onclick="if (confirm('Lose all changes?')) location.href += '/..'">
              <i class="fas fa-undo" style="margin-right: 7px;"></i>
              Back
            </a>
          </div>
        </form>
        <script>
          document.querySelector('form[method=post]').action = location.pathname;
        </script>
      </div>
      <div class="column is-4-desktop is-hidden-tablet is-hidden-mobile"></div>
    </div>
  {{else}}
    <h1 class="title has-text-centered" style="margin-top: 100px;">{{lesson.name}}</h1>
    <main style="min-height: 40vh; margin: 80px 15vw;">
      {{{lesson.content}}}
    </main>
    <div class="field is-grouped is-grouped-centered" style="width: 30vw; margin: 20px auto">
      <p style="float: left">
        <button class="button is-light" onclick="alert('not implemented yet')">
          <i class="fas fa-chevron-left"></i>
          <span style="margin-left: 10px;">Previous Lesson</span>
        </button>
      </p>
      <p style="margin: auto;">
        <button class="button is-info" onclick="location.pathname = location.pathname.replace(/\/\d+\/?$/, '')">
          Back to Module
        </button>
      </p>
      <p style="float: right">
        <button class="button is-primary" onclick="alert('not implemented yet')">
          <span style="margin-right: 10px;">Next Lesson</span>
          <i class="fas fa-chevron-right"></i>
        </button>
      </p>
    </div>
  {{/if}}
  <div class="column is-4"></div>
</section>
