{{#if lesson.isMine}}
  <h1 class="title is-1 has-text-centered" style="margin: 40px 0;">
    Modify Lesson
  </h1>
{{else}}
  <br>
{{/if}}
<div class="columns is-multiline" style="margin: 0 10vw 100px 10vw;">
  <nav class="panel column is-2-desktop is-full-tablet is-full-mobile">
    {{#if lesson.module.name}}
      <h4 class="title panel-heading">
        <a href="/module/{{lesson.module.id}}">{{lesson.module.name}}</a>
      </h4>
    {{else}}
      <h4 class="title panel-heading">Lessons</h4>
    {{/if}}
    {{#each lesson.module.lessons}}
      <a class="panel-block" data-id="{{id}}" data-name="{{name}}" data-created-on="{{createdOn}}"
         data-updated-at="{{updatedAt}}">
          <span class="panel-icon" style="margin-right: 7px;">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
        {{name}}
      </a>
    {{/each}}
    <script>
      for (const el of document.querySelectorAll('nav.panel a.panel-block[data-id]')) {
        if (el.innerText.trim() === '') {
          el.innerHTML = `
            <i class="fas fa-book" aria-hidden="true" style="margin-right: 7px;"></i>
            unnamed #${el.getAttribute('data-id')}
          `;
        }
        if ("{{lesson.id}}" === el.getAttribute('data-id')) {
          el.classList.add('is-active');
        }
        el.onclick = function(event) {
          event.preventDefault();
          const id = el.getAttribute('data-id');
          return location.pathname = location.pathname.replace(/\d+\/?$/, id);
        };
      }
    </script>
  </nav>
  {{#if lesson.isMine}}
    <form method="post" enctype="multipart/form-data" class="column is-10-desktop is-full-tablet is-full-mobile"
          style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">

      <h2 class="title is-3">Name</h2>
      <input id="lesson-name" name="name" value="{{lesson.name}}"
             style="min-width: 300px; background: #d3d3d329; max-width: 450px; padding: 5px; border: 1px #c9c3c3 dashed;"
             placeholder="e.g. Introduction to AI">


      <h2 class="title is-3" style="margin: 50px 0 20px 0;">Summary</h2>
      <textarea id="lesson-summary" name="summary"
                style="width: 100%; padding: 5px; min-height: 20px; max-height: 100px; border: 1px #c9c3c3 dashed;">{{lesson.summary}}</textarea>

      <h2 class="title is-3" style="margin: 50px 0 20px 0;">Content</h2>
      <p style="margin-bottom: 10px;">Upload an HTML file with the lesson content</p>
      {{#if lesson.content}}
        <p id="lesson-msg-has-lesson">
          <br>
          <strong>NOTE</strong>
          <br>
          You have already uploaded lesson content!
          <br>
          Feel free to <strong>replace</strong> it by re-uploading another file.
        </p>
        <br>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; min-width: 200px;">
          <a id="lesson-btn-download" href="{{lesson.id}}/download"
             class="has-text-centered button is-link is-small"
             download="lesson.html">
            <i class="fas fa-download" style="margin-right: 10px;"></i>
            Download
          </a>
          <button id="lesson-btn-delete-content" class="button is-danger is-small"
                  style="margin-top: 10px; margin-bottom: 10px;">
            <i class="fas fa-times" style="margin-right: 10px;"></i>
            Delete
          </button>
        </div>
        <script>
          document.getElementById('lesson-btn-delete-content').onclick = async function(event) {
            event.preventDefault();
            const lessonId = /(\d+)$/.exec(location.pathname)[1];
            const moduleId = /(\d+)\/\d+$/.exec(location.pathname)[1];
            const response = await fetch(`/api/module/${moduleId}/${lessonId}`, {
              method: 'POST',
              redirect: 'follow',
              cache: 'no-cache',
              mode: 'cors',
              credentials: 'include',
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
              },
              body: JSON.stringify({content: null}),
            });
            if (response.status >= 400) {
              const json = await response.json();
              const msg = json.msg || json.message || json.toString();
              console.error(msg);
              return alert(msg);
            } else {
              document.getElementById('lesson-btn-download').remove();
              document.getElementById('lesson-msg-has-lesson').remove();
              return this.remove();
            }
          };
        </script>
      {{else}}
        <ul style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
          <li>
            <p><em>Only</em> include the <em>content</em> of the <code>&lt;body&gt;</code> tag</p>
          </li>
          <li>
            <p>We will only accept <strong>HTML</strong> files</p>
          </li>
        </ul>
      {{/if}}
      <br>
      <input type="file" name="lesson" style="display: block; max-width: 200px;">
      {{#if lesson.files}}
        <h4 id="lesson-h-uploaded-files" class="title is-3" style="margin: 50px 0 30px 0;">
          Uploaded Files</h4>
        <ul id="lesson-uploaded-files"
            style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
          {{#each lesson.files}}
            <li class="has-background-grey-light has-text-black"
                data-id="{{id}}"
                data-name="{{name}}"
                data-updated-at="{{updatedAt}}"
                data-created-on="{{createdOn}}"
                style="padding: 8px 12px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 300px; max-width: 500px; margin-bottom: 10px;">
              <div class="module-file-name">{{name}}</div>
              <div
                  style="width: 75px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <a href="{{lessonId}}/{{name}}" class="button is-link is-small" data-name="{{name}}"
                   data-id="{{id}}" download style=""><i class="fas fa-download"></i></a>
                <button class="button is-small is-danger">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
        <script>
          for (const el of document.querySelectorAll('#lesson-uploaded-files li')) {
            el.querySelector('.button.is-danger').onclick = async function(event) {
              event.preventDefault();
              const lessonId = /(\d+)$/.exec(location.pathname)[1];
              const moduleId = /(\d+)\/\d+$/.exec(location.pathname)[1];
              const fileName = el.querySelector('.module-file-name').innerText.trim();
              const response = await fetch(`/api/module/${moduleId}/${lessonId}/${fileName}/delete`, {
                redirect: 'follow',
                cache: 'no-cache',
                mode: 'cors',
                credentials: 'include',
              });
              if (response.status >= 400) {
                const json = await response.json();
                const msg = json.msg || json.message || json.toString();
                console.error(msg);
                return alert(msg);
              }
              el.remove();
              if ([...document.querySelectorAll('#lesson-uploaded-files li')].length === 0) {
                document.getElementById('lesson-uploaded-files').remove();
                document.getElementById('lesson-h-uploaded-files').remove();
              }
            };
          }
        </script>
        <br>
      {{/if}}
      <h2 class="title is-3" style="margin-top: 30px;">Attachments (optional)</h2>
      <p><strong>Select a file:</strong></p>
      <br>
      <ul style="list-style-type: disc; display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
        <li>Image (.jpg, .jpeg, .png, .gif)</li>
        <li>Audio (.mp3)</li>
        <li>Video (.mp4, .mpg)</li>
      </ul>
      <br>
      <div id="lesson-attachments">
        <input type="file" name="attachment-1">
      </div>
      <br>
      <button id="lesson-btn-more" class="button is-link" style="display: block; margin: 10px 0;">
        <i class="fas fa-plus"></i>
        More
      </button>
      <script>
        document.getElementById('lesson-btn-more').onclick = function(event) {
          event.preventDefault();
          const number = eval(
              /(\d+)$/.exec(document.querySelector('#lesson-attachments input[type=file]:last-of-type').name)[1]);
          const newEl = document.createElement('input');
          newEl.type = 'file';
          newEl.name = `attachment-${number + 1}`;
          newEl.style.margin = '30px auto 0';
          return document.querySelector('#lesson-attachments').appendChild(newEl);
        };
      </script>
      <div
          style="width: 220px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 30px;">
        <input class="button is-primary" style="min-width: 100px;" type="submit" value="Save">
        <a class="button is-warning" style="min-width: 100px;"
           onclick="if (confirm('Lose all changes?')) location.href += '/..'">
          <i class="fas fa-undo" style="margin-right: 7px;"></i>
          Back
        </a>
      </div>
    </form>
    <script>
      document.querySelector('form[method=post]').action = location.pathname;
    </script>
  {{else}}
    <div class="column is-10-desktop is-full-tablet is-full-mobile"
         style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;">
      <h2 class="title" style="margin-top: 10px;">{{lesson.name}}</h2>
      <main>
        {{{lesson.content}}}
      </main>
    </div>
  {{/if}}
</div>
