<div class="columns is-multiline" style="margin: 50px 10vw 100px 10vw;">
  <nav class="panel column is-2-desktop is-full-tablet is-full-mobile">
    {{#if lesson.module.name}}
      <h4 class="title">
        <a class="button is-link" href="/module/{{lesson.module.id}}">{{lesson.module.name}}</a>
      </h4>
    {{else}}
      <h4 class="panel-heading"
          style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
        <a href="/module/{{lesson.module.id}}" class="button is-light is-small" style="margin: 0; padding: 0 10px;">
          <i class="fas fa-arrow-left" style="margin-right: 7px;"></i>
          <span class="title is-5">Lessons</span>
        </a>
      </h4>
    {{/if}}
    {{#each lesson.module.lessons}}
      <a href="/module/{{this.moduleId}}/{{this.id}}"
         class="panel-block has-text-link"
         data-id="{{this.id}}"
         data-created-at="{{this.createdAt}}"
         data-updated-at="{{this.updatedAt}}">
          <span class="panel-icon" style="margin-right: 7px;">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
        {{this.name}}
      </a>
    {{/each}}
  </nav>
  <div class="column is-10-desktop is-full-tablet is-full-mobile"
       style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;">
    <h2 class="title" style="margin-top: 10px;">{{lesson.name}}</h2>
    {{#if lesson.content}}
      <main id="lesson-view-content">
        {{{lesson.content}}}
      </main>
    {{else}}
      <div class="message is-warning" style="margin: 50px auto 0 auto; width: 80%;">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          The creator of this lesson has not added any
          content!
        </div>
      </div>
    {{/if}}
  </div>
</div>
<script src="/javascripts/lesson/view.js"></script>
